@{
    ViewBag.Title = "jQuery Example";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        <span>Name:</span>
        <input id="firstName" type="text" />

        <div class="valueSummary">
            <span id="firstNameSummary"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var nameModel = {
            name: 'Fred'
        };

        $('#firstNameSummary').text(nameModel.name);

        $('#firstName').val(nameModel.name).change(function () {
            nameModel.name = this.value;
            $('#firstNameSummary').text(nameModel.name);
        });
    });
</script>