@{
    ViewBag.Title = "Knockout Basics";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        <span>Name:</span>
        <input data-bind="value: name" />

        <div class="valueSummary">
            <span data-bind="text: name"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var nameModel = {
            name: ko.observable('Fred')
        };
        ko.applyBindings(nameModel);
    });
</script>