@{
    ViewBag.Title = "Index";
}

<h2>Weather</h2>
<div class="container">
    <div id="weatherView">
        <div id="cityList" class="CityList" data-bind="foreach: Cities">
            <div class="CityListItem" data-bind="click: $parent.SelectCity(ZipCode()), 
                        css: { 'selected-City': $parent.IsCitySelected(ZipCode) }">
                <span data-bind="text: Name"></span>&nbsp;(<span data-bind="text: ZipCode"></span>)
            </div>
        </div>
        <div id="weatherObservations" class="WeatherList">
            <ul data-bind="foreach: FilteredWeather">
            </ul>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/weather");
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#loading-overlay').fadeIn();

        var config = {
            Urls: {
                GetCities: '@Url.Action("GetCities", "Weather")',
                GetWeather: '@Url.Action("GetWeather", "Weather")'
            }
        };

        var weatherViewModel = new WeatherViewModel(config);

        $.when(weatherViewModel.FetchCities(), weatherViewModel.FetchWeather())
         .done(function () {
             ko.applyBindings(weatherViewModel);
         })
         .done(function () {
             $('#loading-overlay').fadeOut();
         });
    });
</script>
