@{
    ViewBag.Title = "Index";
}

<h1>Weather</h1>
<div class="container">
    <div id="weatherView">
        <div class="CityList">
            <h2>Cities</h2>
            <br />
            <div id="cityList" data-bind="foreach: Cities">
                <div class="CityListItem" data-bind="css: { 'selected-City': $parent.IsCitySelected(ZipCode) }">
                    <a class="cityLink" href="#" data-bind="click: $parent.LoadWeather.bind(ZipCode)">
                        <span data-bind="text: Name"></span>&nbsp;(<span data-bind="text: ZipCode"></span>)
                    </a>
                </div>
            </div>
        </div>
        <div class="WeatherList">
            <h2>Forecast</h2>
            <br />
            <div id="weatherObservations" data-bind="foreach: FilteredWeather">
                <!-- ko if: current_observation -->
                <div class="CurrentObservation" data-bind="with: current_observation">
                    <div>
                        <div class="CurrentObservationCity" data-bind="if: display_location">
                            <strong><span data-bind="text: display_location.full"></span></strong>
                        </div>
                        <!-- ko if: observation_location -->
                        <div class="CityDetails" data-bind="with: observation_location" style="float: right;">
                            Lat:&nbsp;<span data-bind="text: latitude"></span> | 
                            Lon:&nbsp;<span data-bind="text: longitude"></span> | 
                            Elev:&nbsp;<span data-bind="text: elevation"></span> | 
                            <span data-bind="text: $parent.observation_time"></span>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div>
                        <table class="CurrentObservation">
                            <thead>
                                <tr>
                                    <th>Now</th>
                                    <th></th>
                                    <th>Temperature</th>
                                    <th>Feels Like</th>
                                    <th>Wind</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="currentConditions" src="" data-bind="attr: { src: icon_url }" />
                                    </td>
                                    <td>
                                        <span class="currentConditions" data-bind="text: weather"></span>
                                    </td>
                                    <td><span class="CurrentTemp" data-bind="text: temperature_string"></span></td>
                                    <td><span data-bind="text: feelslike_string"></span></td>
                                    <td><span data-bind="text: wind_string"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <!-- /ko -->
            </div>
            <div class="wundergroundLegal">
                <img class="wundergroundLogo" src="~/Images/wundergroundLogo_black_horz.png" />
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/weather");
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#loading-overlay').fadeIn();

        var config = {
            Urls: {
                GetCities: '@Url.Action("GetCities", "Weather")',
                GetWeather: '@Url.Action("GetWeather", "Weather")',
                GetWeatherByZipCode: '@Url.Action("GetWeatherByZipCode", "Weather")'
            }
        };

        var weatherViewModel = new WeatherViewModel(config);

        $.when(weatherViewModel.FetchCities(), weatherViewModel.FetchWeather())
         .done(function () {
             ko.applyBindings(weatherViewModel);
         })
         .done(function () {
             $('#loading-overlay').fadeOut();
         });
    });
</script>
