@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <div id="cityList">
        <ul data-bind="foreach: Cities">
            <li><span data-bind="text: Name"></span>&nbsp;(<span data-bind="text: ZipCode"></span>)</li>
        </ul>
    </div>
    <div id="weatherObservations"></div>
</div>


<script type="text/javascript" data-main="\Scripts\app\main" src="~/Scripts/lib/require.js">
</script>
